// note: root = 16px
// spacing
$spacing: 1em;
$spacing-xs: calc($spacing / 1.5);
$spacing-md: $spacing * 1.5;
$spacing-lg: $spacing * 1.75;
$spacing-xl: $spacing * 2;
$spacing-2xl: $spacing * 2.5;
$spacing-xxl: $spacing * 3;
