@use "sass:map";

@use "./screenshift-breakpoints" as *;
@use "./just-vars" as *;

//
[data-screenshift] {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  max-width: map.get($max-widths, "desktop-xl");

  @each $bp-name, $bp-value in $breakpoints {
    @media (max-width: $bp-value) {
      @each $mx-name, $mx-value in $max-widths {
        @if $bp-name == $mx-name {
          max-width: $mx-value;
        }
      }
      @each $sp-name, $sp-value in $spaces {
        @if $bp-name == $sp-name {
          padding: 0 $sp-value;
        }
      }
    }
  }
}

[data-screenshift="debug"] {
  position: relative;
  outline: 2px dashed color-mix(in srgb, red, transparent 50%);
  border-radius: $spacing-xs;
  &::after {
    position: absolute;
    transform: translate(-20px, 25px);
    padding: 6px 12px;
    background: red;
    border-radius: 12px;
    color: white;
    font-weight: bold;
  }
  @each $name, $value in $breakpoints {
    @media (max-width: $value) {
      &::after {
        content: "#{$name} | max #{$value}";
      }
    }
  }
}
